.page-content {
	min-height: 100vh;
}


.font-size-36 {
	font-size: 36px;
	line-height: 44px;
}
.font-size-m-28 {
	@media (max-width: 991px) {
		font-size: 28px;
		line-height: 36px;
	}
}


h1, .h1{
	font-size: 36px;
	line-height: 44px;
}
h2, .h2 {
	font-size: 28px;
	line-height: 36px;
}
h3, .h3 {
	font-size: 20px;
	line-height: 28px;
}
h4, .h4 {
	font-size: 18px;
	line-height: 24px;
}

p {
	font-size: 16px;
	line-height: 24px;
}

ul {
	padding-left: 20px;
	li {
		list-style: disc;
	}
}
ol {

}
