.cart-plus-minus {
	display: flex;
	justify-content: center;
	.qtybutton {
		cursor: pointer;

		width: 21px;
		height: 21px;
		min-width: 21px;
		min-height: 21px;
		border-radius: 100%;
		background-color: $violet2;
		border: 0px;

		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		color: #fff;

		display: flex;
		justify-content: center;
		align-items: center;

		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none;   /* Chrome/Safari/Opera */
		-khtml-user-select: none;    /* Konqueror */
		-moz-user-select: none;      /* Firefox */
		-ms-user-select: none;       /* Internet Explorer/Edge */
		user-select: none;
		&:focus {
			outline: none;
		}
	}
	.cart-plus-minus-box {
		width: calc(90px - 42px);
		border: 0px;
		padding: 0px;
		text-align: center;
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
		}
	}
}

.product-remove {
	button {
		padding: 0px;
		margin: 0px;
		border: 0px;
		background: none;
		border: 0px;
		.icon-bin {
			&:before {
				color: #000;
				font-size: 25px;
				transition: 0.5s;
			}
		}
	}
	&:hover {
		button {
			.icon-bin {
				&:before {
					color: $violet2;
					transition: 0.5s;
				}
			}
		}
	}
}


.form-cart {
	padding-top: 70px;
	padding-bottom: 250px;
	input[type="text"], input[type="tel"],
	input[type="email"], textarea {
		background: #F0F4F6;
		border-radius: 0px;
		padding: 9px 22px;

		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
		color: #737374;

		border: 0px;

		&::-webkit-input-placeholder 	{ opacity: 1; color: #737374; }
		&:-ms-input-placeholder 		{ opacity: 1; color: #737374; }
		&::-ms-input-placeholder 		{ opacity: 1; color: #737374; }
		&::placeholder 					{ opacity: 1; color: #737374; }
	}
	textarea {
		padding: 20px 13px;
		min-height: 140px;
	}
	.cart-block {
		padding-bottom: 70px;
	}


	@media (max-width: 1200px) {
		padding-bottom: 150px;
	}
	@media (max-width: 991px) {
		padding: 50px 0px;
	}







	.cart-page-title {
		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 44px;
		color: #000000;
		margin-bottom: 30px;
	}
	.line {
		border-bottom: 1px solid #C4C4C4;
	}
	.product-thumbnail {
		display: flex;
		justify-content: center;
		padding: 0 30px;
		img {
			width: 100%;
			max-width: 100%;
		}
		@media (max-width: 991px) {
			margin-bottom: 15px;
		}
	}
	.product-name {
		height: 100%;

		display: flex;
		align-items: center;
		a {
			font-family: Gilroy;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 21px;
			color: #000000;
			&:hover {
				color: $violet2;
			}
			@media (max-width: 991px) {
				text-align: center;
			}
		}
		@media (max-width: 991px) {
			margin-bottom: 15px;
		}
	}
	.product-price-cart {
		height: 100%;

		display: flex;
		align-items: center;
		.amount {
			font-family: Gilroy;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			color: #000000;
		}
		@media (max-width: 991px) {
			justify-content: center;
			margin-bottom: 15px;
		}
	}
	.product-quantity {
		height: 100%;

		display: flex;
		align-items: center;
		.cart-plus-minus {
			.qtybutton {
				width: 21px;
				height: 21px;
				border-radius: 100%;
				background-color: #F03C3C;
				border: 0px;

				font-weight: bold;
				font-size: 18px;
				line-height: 22px;
				color: #000000;

				display: flex;
				justify-content: center;
				align-items: center;

				top: 50%;
				transform: translateY(-50%);
			}
		}
		@media (max-width: 991px) {
			justify-content: center;
			margin-bottom: 15px;
		}
	}
	.product-remove {
		height: 100%;

		display: flex;
		align-items: center;
		@media (max-width: 991px) {
			justify-content: center;
		}
	}

	.grand-totall {
		border: 0px;
		border-radius: 0px;
		padding: 16px 13px;
		background: #EFEFEF;
		span {
			display: block;
			font-size: 18px;
			line-height: 22px;
			color: #000000;
		}
		.price {
			padding-bottom: 29px;
		}
	}
	.title-cart {
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		color: #000000;
	}
}


.radio-custom {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
	input {
		display: none;
	}
	.radio-custom__circle {
		width: 20px;
		height: 20px;
		min-width: 20px;
		min-height: 20px;
		display: block;
		border: 1px solid #A3CFD2;
		border-radius: 100%;
		position: relative;
		&:before {
			opacity: 0;
			display: block;
			width: 10px;
			height: 10px;
			border-radius: 100%;
			content: "";
			background: #A3CFD2;
			position: absolute;
			top: calc(50% - 5px);
			left: calc(50% - 5px);
			transition: 0.5s;
		}
	}
	.radio-custom__text {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
		color: #000000;
		padding-left: 13px;
	}
	input:checked + span {
		&:before {
			opacity: 1;
			transition: 0.5s;
		}
	}
}
