.btn {
	background-color: $violet2;
	border-radius: 15px;

	font-size: 15px;
	font-weight: 400;
	padding: 0 25px;
	display: inline-block;
	height: 49px;
	line-height: 49px;
	color: #fff;
	&:hover {
		background: #444;
		color: #fff;
	}
	@media only screen and (min-width: 768px) and (max-width: 991px) {
		padding: 0 20px;
		height: 40px;
		line-height: 40px;
		font-size: 13px;
	}
	@media only screen and (max-width: 767px) {
		font-size: 12px;
		height: 35px;
		line-height: 35px;
		padding: 0 20px;
	}
}
