<div class="breadcrumbs_area">
	<div class="container">
		<div class="row">
			<div class="col-12">
				h1(class="text-center font-size-36 font-size-m-28 mb-18")
					| Информационная страница
				<div class="breadcrumb_content">
					<ul>
						<li><a href="#">Главная</a></li>
						<li>Каталог</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
