div(class="main-categori-wrap main-categori-wrap-modify-2 btn-catalog-drop")
	div(class="categories_title")
		span(class="categori_toggle")
			| КАТАЛОГ
			span(class="icon-products ml-20")
	div(class="catalog-drop")
		div(class="position-relative")
			div(class="catalog-drop-header")
				div(class="container")
					div(class="row")
						div(class="col-12 d-flex justify-content-between align-items-center")
							<div class="logo">
								<a href="#">
									img(class="lazyload" data-src="images/logo.svg" alt="logo img")
								</a>
							</div>
							div(class="catalog-drop-close")
								span(class="icon-cross")
			div
				div(class="container pt-80")
					div(class="row pb-4")
						div(class="col-12 col-lg-3 mb-5 mb-lg-0")
							- let arr1 = ["images/Rectangle 19.png", "images/Rectangle 19 (1).png", "images/Rectangle 19 (2).png", "images/Rectangle 19 (3).png"];
							- let arr11 = ["Овощи и фрукты", "Сладости", "Готовые блюда и полуфабрикаты", "Чай и кофе"];
							- for(let i = 0; i < 4; i++)
								a(href="" class="title")
									img(class="lazyload" data-src=arr1[i] alt="img")
									span 
										= arr11[i]
						div(class="col-12 col-lg-3 mb-5 mb-lg-0")
							- let arr2 = ["images/Rectangle 19 (4).png", "images/Rectangle 19 (5).png", "images/Rectangle 19 (6).png", "images/Rectangle 19 (7).png"]
							- let arr22 = ["Вода, соки, напитки", "Сыры", "Мясо и птица", "Соусы, специи, приправы"]
							- for(let i = 0; i < 4; i++)
								a(href="" class="title")
									img(class="lazyload" data-src=arr2[i] alt="img")
									span 
										= arr22[i]
						div(class="col-12 col-lg-3 mb-5 mb-lg-0")
							- let arr3 = ["images/Rectangle 19 (8).png", "images/Rectangle 19 (9).png", "images/Rectangle 19 (10).png", "images/Rectangle 19 (11).png"]
							- let arr33 = ["Молочные продукты", "Хлеб и выпечка", "Чипсы и снеки", "Бытовая химия"]
							- for(let i = 0; i < 4; i++)
								a(href="" class="title")
									img(class="lazyload" data-src=arr3[i] alt="img")
									span 
										= arr33[i]
						div(class="col-12 col-lg-3")
							- let arr4 = ["images/Rectangle 19 (12).png", "images/Rectangle 19 (13).png", "images/Rectangle 19 (14).png", "images/Rectangle 19 (15).png"]
							- let arr44 = ["Бакалея", "Рыба и морепродукты", "Консервы и соленья", "Косметика и гигиена"]
							- for(let i = 0; i < 4; i++)
								a(href="" class="title")
									img(class="lazyload" data-src=arr4[i] alt="img")
									span 
										= arr44[i]
						
