<!--footer area start-->
<footer class="footer_widgets">
	<div class="footer_top">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4 mb-4 mb-lg-0">
					<div class="logo mb-10">
						<a href="#">
							img(class="lazyload" data-src="images/logo.svg" alt="logo img")
						</a>
					</div>
					<p class="footer_desc">Доставка продуктов на дом или в офис в Южноуральске. Принимаем заказы от 500 рублей.</p>
				</div>
				<div class="col-12 col-lg-2 mb-4 mb-lg-0">
					<div class="widgets_container widget_menu">
						<span class="title">Информация</span>
						<div class="footer_menu">
							<ul>
								each item in ["О компании", "Вакансии", "Документы", "Контакты"]
									li
										a(href="#")
											= item
							</ul>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-2 mb-4 mb-lg-0">
					<div class="widgets_container widget_menu">
						<span class="title">Для покупателя</span>
						<div class="footer_menu">
							<ul>
								each item in ["Как мы работаем", "Зоны доставки", "Доставка и оплата", "Помощь"]
									li
										a(href="#")
											= item
							</ul>
						</div>
					</div>
				</div>
				div(class="col-12 col-lg-4 footer-info")
					<p class="footer_desc"><b>Адрес:</b> г. Южноуральск, ул. Ленина 1</p>
					<p class="footer_desc"><b>Телефон:</b> <a href="tel:+73511234567">+7 351 123-45-67</a></p>
					<p class="footer_desc"><b>Email:</b> <a href="mailto:info@minimag.ru">info@minimag.ru</a></p>
			</div>
		</div>
	</div>

	<div class="footer_bottom">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 col-md-7 d-flex justify-content-center justify-content-lg-start">
					<div class="copyright_area">
						<p><a href="#">Политика конфиденциальности</a> | Мини-Маг - 2020</p>
					</div>
				</div>
				<div class="col-lg-6 col-md-5 d-flex justify-content-center justify-content-lg-end">
					<div class="copyright_area">
						<p><a href="#">Разработка и поддержка сайта DEKSIS.RU</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!--footer area end-->
