div(class="off_canvars_overlay")
<div class="offcanvas_menu">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="canvas_open">
					<a href="javascript:void(0)">
						span(class="burger")
					</a>
				</div>
				<div class="offcanvas_menu_wrapper">
					<div class="canvas_close">
						<a href="javascript:void(0)"><span class="icon-cross"></span></a>  
					</div>
					<div class="language_currency">
						p
							| Внимание! В связи с большим количеством заказов доставка осуществляется в течении 3 часов!
					</div>
					<div class="header_social text-right">
						<ul>
							<li>
								<a href="#">
									img(class="lazyload" data-src="images/vk.svg" alt="img")
								</a>
							</li>
							<li>
								<a href="#">
									img(class="lazyload" data-src="images/instagram.svg" alt="img")
								</a>
							</li>
						</ul>
					</div>
					<div class="call-support mb-3">
						span(class="icon-phone")
						div(class="d-flex flex-column align-items-end")
							a(href="tel:83511234567")
								| 8 (351) 123-45-67
							span
								| приём звонков с 10:00 до 20:00
					</div>
					<div id="menu" class="text-left ">
						<ul class="offcanvas_main_menu">
							<li class="menu-item-has-children active">
								<a href="#">Главная</a>
							</li>
							<li class="menu-item-has-children">
								<a href="#">О компании</a>
							</li>
							<li class="menu-item-has-children">
								<a href="#">Доставка и оплата</a>
							</li>
							<li class="menu-item-has-children">
								<a href="#">Контакты</a>
							</li>
						</ul>
					</div>
					<div class="offcanvas_footer">
						<span>
							<a href="mailto:info@minimag.ru"><b>Email:</b> info@minimag.ru</a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<header>
	<div class="main_header">
		<div class="header_top">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						span
							| Внимание! В связи с большим количеством заказов доставка осуществляется в течении 3 часов!
					</div>
					<div class="col-lg-6">
						<div class="header_social d-flex justify-content-end">
							<ul>
								<li>
									<a href="#">
										img(class="lazyload" data-src="images/vk.svg" alt="img")
									</a>
								</li>
								<li>
									<a href="#">
										img(class="lazyload" data-src="images/instagram.svg" alt="img")
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="header_middle">
			<div class="container">
				<div class="row">
					<div class="col-5 col-lg-3 order-1 order-lg-1">
						<div class="logo">
							<a href="#">
								img(class="lazyload" data-src="images/logo.svg" alt="logo img")
							</a>
						</div>
					</div>
					<div class="col-lg-4 order-3 order-lg-2 mt-3 mt-lg-0">
						<div class="header_right_info">
							<div class="search_container w-100">
								<form action="#" method="" class="w-100">
									<div class="search_box w-100">
										<input placeholder="Поиск по сайту" type="search">
										<button type="submit">
											<span class="icon-search"></span>
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					div(class="col-5 col-lg-5 d-flex align-items-center justify-content-end order-2 order-lg-3")
						<div class="header_account_area">
							<div class="header_account_list register">
								<ul>
									<li><a href="#">Регистрация</a></li>
									<li><span>/</span></li>
									<li><a href="#">Войти</a></li>
								</ul>
							</div>
							<div class="header_account_list header_wishlist mr-20">
								<a href="wishlist.html">
									<span class="icon-heart"></span>
									<span class="item_count">3</span>
								</a>
							</div>
							<div class="header_account_list  mini_cart_wrapper">
								<a href="javascript:void(0)">
									<span class="icon-shopping-cart"></span>
									<span class="item_count">2</span>
								</a>
								<div class="mini_cart">
									<div class="cart_gallery">
										<div class="cart_close">
											<div class="cart_text">
												<span class="h3 d-block m-0"><b>Корзина</b></span>
											</div>
											<div class="mini_cart_close">
												<a href="javascript:void(0)"><span class="icon-cross"></span></a>
											</div>
										</div>
										-for(let i = 0; i < 4; i++)
											<div class="cart_item">
												<div class="cart_img">
													<a href="#">
														<img class="lazyload" data-src="images/product.jpg" alt="img">
													</a>
												</div>
												<div class="cart_info">
													<a href="#">Название товара</a>
													<p>1 x <span> 1000 ₽. </span></p>
												</div>
												<div class="cart_remove">
													<a href="#"><i class="icon-x"></i></a>
												</div>
											</div>
									</div>
									<div class="mini_cart_table">
										<div class="cart_table_border">
											<div class="cart_total">
												<span>Цена:</span>
												<span class="price">125.00 ₽</span>
											</div>
										</div>
									</div>
									<div class="mini_cart_footer">
										<div class="cart_button">
											<a href="#">Посмотреть корзину</a>
										</div>
										<div class="cart_button">
											<a href="#">Оформить</a>
										</div>
									</div>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
		<div class="header_bottom sticky-header">
			<div class="container">  
				<div class="row align-items-center">
					div(class="col-lg-3 col-md-6")
						include drop-menu-area.pug
					<div class="col-lg-6">
						<!--main menu start-->
						<div class="main_menu menu_position">
							<nav>
								<ul>
									<li>
										<a class="active" href="#">Главная</a>
									</li>
									<li>
										<a href="#">О компании</a>
									</li>
									<li>
										<a href="#">Доставка и оплата</a>
									</li>
									<li>
										<a href="#">Контакты</a>
									</li>
								</ul>  
							</nav> 
						</div>
						<!--main menu end-->
					</div>
					<div class="col-lg-3 d-none d-lg-block">
						<div class="call-support">
							span(class="icon-phone")
							div(class="d-flex flex-column align-items-end")
								a(href="tel:83511234567")
									| 8 (351) 123-45-67
								span
									| приём звонков с 10:00 до 20:00
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> 
</header>
<!--header area end-->
