<article class="single_product">
	<figure>
		<div class="product_thumb">
			<a class="primary_img" href="#">
				<img src="images/product1.jpg" alt="img">
			</a>
			<a class="secondary_img" href="#">
				<img src="images/product2.jpg" alt="img">
			</a>
			<div class="label_product">
				<span class="label_sale">акция</span>
			</div>
			<form class="action_links">
				<ul>
					<li class="add_to_cart">
						<button href="#" title="Добавить в корзину" type="submit">
							<span class="icon-shopping-cart"></span>
						</button>
					</li>
					<li class="wishlist">
						<a href="#" title="Добавить для сравнения">
							<span class="icon-heart"></span>
						</a>
					</li>
				</ul>
			</form>
		</div>
		<figcaption class="product_content">
			a(class="product_name" href="#")
				| Молоко “Первый вкус”, 0,5л., 3,2%
				= i
			<div class="price_box">
				<span class="current_price">14,90 ₽</span>
				<span class="old_price">34,90 ₽</span>
			</div>
		</figcaption>
	</figure>
</article>
