doctype html
html(lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="css/main.min.css")
		link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
			
		script(class="js/vendor/modernizr-3.7.1.min.js")
				
		title МиниМаг
	body
		include components/header-area.pug
		div(class="page-content")
			block content
		include components/footer-area.pug
		script(src="js/main.min.js")
