extends base.pug
block content
	include components/breadcrumbs-area.pug
	
	<div class="shopping_cart_area mt-70">
		<div class="container">
				<div class="row">
					<div class="col-12">
						-for(let i = 0; i < 4; i++)
							div(class="cart_page")
								div(class="row")
									div(class="col-12 col-md-6 col-lg-2 d-flex align-items-lg-center justify-content-center mb-4 mb-lg-0")
										a(href="#" class="cart_page-preview")
											img(class="lazyload" data-src="images/productbig4.jpg" alt="img")
									div(class="col-12 col-md-6 col-lg-5 d-flex justify-content-center justify-content-md-start align-items-lg-center mb-4 mb-lg-0")
										a(href="#" class="product_name")
											| Помидоры
									div(class="col-12 col-md-6 col-lg-2 d-flex align-items-lg-center justify-content-center mb-4 mb-lg-0")
										form(class="product-quantity pro-details-quality" action="" method="")
											div(class="cart-plus-minus")
												input(class="cart-plus-minus-box" type="number" name="qtybutton" value="1")
									div(class="col-12 col-md-6 col-lg-2 d-flex justify-content-center justify-content-md-start align-items-lg-center mb-4 mb-lg-0")
										span(class="product_total")
											b
												| 3 222 ₽
									div(class="col-12 col-lg-1 d-flex align-items-lg-center justify-content-center")
										form(class="product-remove" action="" method="")
											button(type="submit")
												span(class="icon-bin")
					</div>
				</div>
				form(action="" method="" class="form-cart")
					div(class="row")
						div(class="col-12 col-lg-9")
							div(class="cart-block")
								h2(class="title-cart mb-35")
									| Данные получателя
								div(class="row")
									div(class="col-12 col-lg-4 pb-4 pb-lg-0")
										input( class="w-100" type="text" placeholder="Имя")
									div(class="col-12 col-lg-4 pb-4 pb-lg-0")
										input( class="w-100" type="tel" placeholder="Телефон*")
									div(class="col-12 col-lg-4")
										input( class="w-100" type="email" placeholder="E-mail*")
							div(class="cart-block")
								h2(class="title-cart")
									| Варианты доставки
								div(class="d-flex flex-column flex-lg-row align-items-lg-center")
									label(class="radio-custom mb-3 mb-lg-0 mr-lg-5")
										input(type="radio" name="delivery" checked)
										span(class="radio-custom__circle")
										span(class="radio-custom__text")
											| Доставка
									label(class="radio-custom")
										input(type="radio" name="delivery")
										span(class="radio-custom__circle")
										span(class="radio-custom__text")
											| Самовывоз
							div(class="cart-block")
								h2(class="title-cart")
									| Адрес доставки
								div(class="row")
									div(class="col-12 col-lg-4 pb-4 pb-lg-0")
										input( class="w-100" type="text" placeholder="Адрес")
							div(class="cart-block")
								h2(class="title-cart")
									| Способы оплаты
								div(class="d-flex flex-column flex-lg-row align-items-lg-center")
									label(class="radio-custom  mb-3 mb-lg-0 mr-lg-5")
										input(type="radio" name="oplata" checked)
										span(class="radio-custom__circle")
										span(class="radio-custom__text")
											| Наличный расчет
									label(class="radio-custom")
										input(type="radio" name="oplata")
										span(class="radio-custom__circle")
										span(class="radio-custom__text")
											| Оплата по счету
							div(class="row")
								div(class="col-12 col-lg-8")
									h2(class="title-cart")
										| Комментарий
									textarea(class="w-100" placeholder="Вы можете оставить дополнительную информацию о заказе")
						div(class='col-12 col-lg-3 pt-57')
							<div class="grand-totall">
								span(class="title mb-32")
									b
										| Ваш заказ
								span(class="d-block mb-25")
									| Самовывоз
								div(class="price d-flex justify-content-between")
									span
										| Итого
									span
										b
											| 5 555 ₽
								div(class="d-flex justify-content-center")
									button(type="submit" class="btn btn-cart")
										b
											| Оформить заказ
		</div>
	</div>
