extends base.pug
block content
	include components/breadcrumbs-area.pug
	div(class="shop_area shop_reverse mt-70 mb-70")
		div(class="container")
			div(class="row")
				<div class="col-lg-3 col-md-12">
					<!--sidebar widget start-->
					<aside class="sidebar_widget">
						<div class="widget_inner">
							<div class="widget_list widget_categories">
								<span class="title">КАТЕГОРИЯ</span>
								ul
									each item in ["Молочная продукция", "Чай  и кофе", "Овощи и фрукты"]
										li
											a(href="#")
												= item
							</div>
							<div class="widget_list widget_filter">
								<span class="title">ФИЛЬТР ПО ЦЕНЕ</span>
								<form action="#"> 
									<div id="slider-range"></div>
									<input type="text" name="text" id="amount" />
								</form> 
							</div>
						</div>
					</aside>
					<!--sidebar widget end-->
				</div>
				div(class="col-lg-9 col-md-12")
					<div class="shop_toolbar_wrapper">
						<div class=" niceselect_option">
							<form class="select_option" action="#">
								<select name="orderby" id="short">
									<option selected value="1">сортировать по</option>
									<option  value="2">сортировать по цене</option>
									<option value="3">сортировать по дате</option>
								</select>
							</form>
						</div>
					</div>
					div(class="row shop_wrapper")
						-for(let i =0; i < 10;i++)
							div(class="col-12 col-lg-4")
								include components/single-product-area.pug
						<div class="shop_toolbar t_bottom">
							<div class="pagination">
								<ul>
									<li class="current">1</li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">>></a></li>
								</ul>
							</div>
						</div>
