extends base.pug
block content
	<!--slider area start-->
	<section class="slider_section">
		<div class="slider_area owl-carousel">
			<div class="single_slider d-flex align-items-center" data-bgimg="images/slider.jpg">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 pr-lg-0">
							<div class="slider_content">
								<h1>Доставка продуктов на дом или офис</h1>
								<p>Доставка продуктов из наших магазинов в Южноуральске. Удобный сервис.</p> 
								<a class="btn" href="#">перейти в каталог</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="single_slider d-flex align-items-center" data-bgimg="images/slider.jpg">
				<div class="container">
					<div class="row">
						<div class="col-lg-5">
							<div class="slider_content">
								<h2 class="h1">Доставка продуктов на дом или офис</h2>
								<p>Доставка продуктов из наших магазинов в Южноуральске. Удобный сервис.</p> 
								<a class="btn" href="#">перейти в каталог</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--slider area end-->
	
	<!--shipping area start-->
	<div class="shipping_area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="single_shipping">
						<div class="shipping_icone">
							span(class="icon-buy")
						</div>
						<div class="shipping_content">
							<span class="title">от 500 рублей</span>
							<p>Оформление заказа от 500 рублей</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single_shipping col_2">
						<div class="shipping_icone">
							span(class="icon-timer")
						</div>
						<div class="shipping_content">
							<span class="title">Удобное время</span>
							<p>Доставляем в удобное для вас время</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single_shipping col_3">
						<div class="shipping_icone">
							span(class="icon-fresh")
						</div>
						<div class="shipping_content">
							<span class="title">Только свежее</span>
							<p>Выберем для вас лучшие продукты первей свежести</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single_shipping col_4">
						<div class="shipping_icone">
							span(class="icon-pig")
						</div>
						<div class="shipping_content">
							<span class="title">Низкая стоимость</span>
							<p>Цены ниже, чем в розничных магазинах</p>
						</div>
					</div>
				</div>
			</div>   
		</div>
	</div>
	<!--shipping area end-->
	
	<!--product area start-->
	<div class="product_area product_deals mb-150 mt-50">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section_title">
						<h2>Распродажа дня</h2>
					</div>
				</div>
			</div> 
			<div class="product_container">
				<div class="row">
					<div class="col-12">
						<div class="product_carousel product_column5 owl-carousel">
							-for(let i=0; i < 10; i++)
								include components/single-product-area.pug
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--product area end-->
	
	
	<div class="banner_fullwidth">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="banner_full_content">
						<p>ВЕСЬ НОЯБРЬ!</p>
						<h2>СКИДКА 50%<span>на все овощи и фрукты</span></h2>
						<a href="#" class="btn">перейти в каталог</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	div(class="step pb-50")
		div(class="container")
			div(class="row")
				div(class="col-12")
					div(class="section_title")
						h2
							| Экономьте ваше время с нами
			div(class="row")
				div(class="col-12 col-lg-4 mb-4 mb-lg-0")
					div(class="step-item step-item-arrow")
						img(class="lazyload mx-auto d-block" data-src="images/Rectangle 14.png" alt="img")
						p
							| Выберите из <a href="#">каталога продуктов</a> необходимые вам товары, положите их в корзину и оформите доставку.
				div(class="col-12 col-lg-4 mb-4 mb-lg-0")
					div(class="step-item step-item-arrow")
						img(class="lazyload mx-auto d-block" data-src="images/Rectangle 14 (1).png" alt="img")
						p
							| Наши специалисты соберут для вас самые свежие продукты с нашего склада
				div(class="col-12 col-lg-4")
					div(class="step-item")
						img(class="lazyload mx-auto d-block" data-src="images/Rectangle 14 (2).png" alt="img")
						p
							| Курьер привезет продукты через несколько часов, а вы можете заняться своими делами.
	<!--blog area start-->
	<section class="blog_section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section_title">
						<h2>Новости и статьи</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="blog_carousel blog_column3 owl-carousel">
					-for(let i=0; i < 10; i++)
						<article class="single_blog">
							<figure>
								<div class="blog_thumb">
									<a href="#">
										<img src="images/Rectangle 15.png" alt="img">
									</a>
								</div>
								<figcaption class="blog_content">
									<div class="articles_date">
										<p>10/10/2020</p>
									</div>
									<a class="post_title" href="#">Рецепт приготовления итальянского салата с руколлой.</a>
									<footer class="blog_footer">
										a(href="#")
											| ПОДРОБНЕЕ
											span(class="block-play")
												i(class="icon-play")
									</footer>
								</figcaption>
							</figure>
						</article>
				</div>
			</div>
		</div>
	</section>
	<!--blog area end-->
