extends base.pug
block content
	include components/breadcrumbs-area.pug
	div(class="info-page")
		div(class="container")
			div(class="row")
				div(clas="col-12")
					h2(class="h4 m-0")
						b
							| О сервисе СберМаркет
					p
						| СберМаркет - это онлайн сервис доставки продуктов и товаров первой необходимости с полок магазинов. Это совместный проект сервиса доставки Instamart и Сбербанка,  реализованный на технологической платформе Instamart. В пилотном режиме сервис работает в Краснодаре и Ростове-на-Дону с 6 сентября 2019 года.
					p
						| Заказывать продукты прямо на дом можно из сети мелкооптовой торговли METRO Cash&Carry. Более 1,5 тыс товаров продаются со скидками до 50% каждую неделю.
					p
						| Обслуживание СберМаркет осуществляется специалистами по сборке и доставке сервиса Instamart, зарекомендовавшего себя в 13 крупнейших городах России. Заказ можно оформить через сайт или приложение. Специалист, который дежурит в магазине, собирает корзину, учитывая все пожелания клиента. С полок магазина отбираются только качественные и свежие продукты. Этому правилу учат каждого специалиста службы Instamart, поэтому клиенты могут быть уверены, что в корзине никогда не окажется испорченный продукт. Скоропортящиеся и охлажденные продукты упаковывают в специальные термобоксы, поэтому товары приедут так, как будто их только что взяли с полки магазина. Остальные продукты аккуратно складывают в пакеты, а затем в контейнер. Доставка осуществляется прямо до дверей клиента.
					br
					br
					br
					h2(class="h4")
						b
							| Почему покупку продуктов можно доверить СберМаркет?
					br
					p
						| 100% качество<br>Товары, которые вы заказали, отбирают специально обученные эксперты по продуктам. Они знают, как быстро найти лучшие фрукты и овощи, проверить сроки годности и правильно упаковать заказ, чтоб продукты приехали к вам так, как будто вы только что взяли их с полки магазина.
					p
						| Поможем сэкономить
					p
						| Каждую неделю более 2 тысяч товаров со скидками до 50% и сотни наименований собственных брендов гипермаркетов.
					p
						| Доставим день в день
					p
						| Время и место выбираете вы. Мы доставим заказ день в день, или в удобное время в течение недели. Интервал ожидания заказа всего 2 часа.
					p
						| Донесем тяжелые сумки<br>Со СберМаркет вы забудете о тяжелых сумках.  Доставка заказов до 30 кг. уже входит в стоимость сервиса. Наши курьеры донесут их до двери, даже если вы живете в доме без лифта.
					p
						| Супер гарантия<br>Только у нас возврат в течение 24 часов. Если вам не понравилось качество, вернем деньги по первому требованию.
					p
						| Официальный партнер магазинов<br>Наш сервис – привилегированный партнер сети торговых центров METRO Cash&Carry по всей России.
					p
						| Зарабатывать на покупках -  просто<br>Копите баллы программы «Аэрофлот Бонус» за каждую покупку в СберМаркет. Получайте бонусы и скидки за приглашенных друзей.
