extends base.pug
block content
	include components/breadcrumbs-area.pug
	
	<!--product details start-->
	<div class="product_details mt-60 mb-100">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="product-details-tab">
						<img src="images/productbig4.jpg" alt="big-1">
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="product_d_right">
						<form action="#">
							<h1>Помидоры свежие</h1>
							span(class="weight")
								| 1 кг
							<div class="price_box">
								<span class="current_price">84,99 ₽</span>
								<span class="old_price">84,99 ₽</span>
							</div>
							<div class="product_desc">
								<p>Краткое описание товара.</p>
							</div>
							div(class="d-flex flex-column align-items-start flex-xl-row align-items-xl-center product_d_right_settings")
								<div class="product_variant quantity">
									<label>Кол-во</label>
									<input min="1" max="100" value="1" type="number">
								</div>
								<button class="btn" type="submit" class="btn">в корзину</button>
								a(class="block-wishlist")
									span(class="icon-heart")
									span
										| в избранное
						</form>
					</div>
				</div>
			</div>
		</div>    
	</div>
	<!--product details end-->
	
	
	<!--product area start-->
	<div class="product_area product_deals mb-150 mt-50">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section_title">
						<h2>Смотрите также</h2>
					</div>
				</div>
			</div> 
			<div class="product_container">
				<div class="row">
					<div class="col-12">
						<div class="product_carousel product_column5 owl-carousel">
							-for(let i=0; i < 10; i++)
								include components/single-product-area.pug
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--product area end-->
