@import "variables/_variables";

/* INCLUD SASS */

@import "template/bootstrap.min.css";
@import "template/owl.carousel.min.css";
@import "template/magnific-popup.css";
@import "template/font.awesome.css";
@import "template/linearicons.css";
@import "template/animate.css";
@import "template/jquery-ui.min.css";
@import "template/slinky.menu.css";
@import "template/plugins.css";
@import "template/style.scss";


@import "default/_default";
@import "indent/_indent";
@import "icons/_icons";
@import "fonts/_fonts";
@import "header/_header";
@import "button/_button";
@import "form/_form";
@import "modalWindow/_modal";
@import "footer/_footer";


.step {
	.step-item {
		p {
			font-size: 14px;
			line-height: 16px;
			color: #000000;
			padding-top: 30px;
			padding-bottom: 20px;
			margin: 0px;
			a {
				margin: 0px;
				color: $violet2;
				&:hover {
					text-decoration: underline;
				}
			}

			@media (max-width: 991px) {
				text-align: center;
			}
		}
		&.step-item-arrow {
			position: relative;
			z-index: 1;
			&:before {
				width: 105px;
				height: 20px;
				content: "";
				position: absolute;
				z-index: 10;
				right: -60px;
				top: 70px;
				background-image: url("../images/line-arrow-right.svg");
				background-repeat: no-repeat;
				background-position: center;
				background-size: 100%;
				@media (max-width: 991px) {
					display: none;
				}
			}
		}
	}
}


.info-page {
	padding: 50px 0px 200px 0px;

	p {
		font-size: 18px;
		line-height: 24px;
		@media (max-width: 991px) {
			font-size: 16px;
			line-height: 20px;
		}
	}
	@media (max-width: 1200px) {
		padding: 50px 0px 140px 0px;
	}
	@media (max-width: 991px) {
		padding: 50px 0px;
	}
}



.cart_page {
	padding: 20px 0px;
	margin-bottom: 10px;
	border-bottom: 1px solid #C4C4C4;
	.cart_page-preview {
		max-width: 120px;
		img {
			display: block;
			width: 100%;
		}
	}
	.product_name {
		font-size: 18px;
		line-height: 21px;
		color: #000000;
		&:hover {
			color: $violet2;
		}
	}
}
