.header_top {
	padding: 15px 0 11px 0px;
	span {
		display: block;
		margin: 0px;

		font-size: 12px;
		line-height: 14px;
		color: #000000;
	}
	@media (max-width: 991px) {
		display: none;
	}
}
.header_bottom {
	padding-bottom: 37px;
	&.sticky {
		padding: 15px;
	}
	@media (max-width: 991px) {
		padding-bottom: 30px;
	}
}
.header_middle {
	padding: 30px 0 24px;
	@media (max-width: 991px) {
		padding: 7px 0 12px 0px;
	}
}

.canvas_open  {
	position: absolute;
	right: 17px;
	top: 28px;
	z-index: 9;
	a {
		width: 20px;
		height: 12px;
		position: relative;

		display: flex;
		justify-content: flex-end;
		align-items: center;
		.burger {
			display: block;
			width: 15px;
			height:2px;
			border-radius: 25px;
			background-color: $violet2;
		}
		&:before {
			content: "";
			position: absolute;
			top: 0px;
			left:0px;
			right:0px;
			height:2px;
			border-radius: 25px;
			background-color: $violet2;
		}
		&:after {
			content: "";
			position: absolute;
			bottom: 0px;
			left:0px;
			right:0px;
			height:2px;
			border-radius: 25px;
			background-color: $violet2;
		}
		&:hover {
			color: $violet2;
			border-color: $violet2;
		}
	}
	@media only screen and (max-width: 767px) {
		top: 0px;
		transform: translate(0px, 200%);
	}
	@media only screen and (max-width: 475px) {
		transform: translate(0px, 170%);
	}
	@media only screen and (max-width: 375px) {
		transform: translate(0px, 150%);
	}
}


.canvas_close {
	position: absolute;
	top: 10px;
	right: 13px;
	& a {
		font-size: 18px;
		text-transform: uppercase;
		font-weight: 500;
		width: 32px;
		height: 32px;
		display: block;
		text-align: center;
		line-height: 33px;
		border: 1px solid #ededed;
		border-radius: 50%;
		&:hover {
			background: $violet2;
			border-color: $violet2;
			span {
				&:before {
					color: #fff;
				}
			}
		}
	}
}

.catalog-drop {
	position: fixed;
	z-index: 100;
	top: 0px;
	right: 100%;
	bottom: 0px;
	left: -100%;
	opacity: 0;
	transition: 0.5s;

	background-color: #fff;

	padding-bottom: 25px;

	overflow: auto;

	display: none;
	&.show {
		right: 0px;
		left: 0px;
		opacity: 1;
		transition: 0.5s;
		display: block;
		@media (max-width: 991px) {
			right: 0px;
			left: 0px;
		}
	}
	@media (max-width: 991px) {
		right: -100%;
		left: 100%;
	}
	.catalog-drop-header {
		position: fixed;
		z-index: 101;
		top: 0px;
		right: 0px;
		left: 0px;

		display: flex;
		justify-content: center;

		background-color: #fff;

		padding: 10px 0px;
		height: 72px;
	}
	.catalog-drop-close {
		cursor: pointer;
		&:hover {
			.icon-cross {
				&:before {
					color: $violet2;
				}
			}
		}
	}
	ul {
		padding: 0px 0px 0px 50px;
		margin: 0px;
		li {
			list-style: none;
			margin-bottom: 4px;
			&.active {
			}
		}
	}
	.title {
		font-weight: bold;
		font-size: 14px;
		line-height: 17px;
		color: #000000;

		display: flex;
		align-items: center;

		margin-bottom: 40px;

		span {
			margin: 0px;
			position: relative;
		}
		img {
			width: 40px;
			margin-right: 10px;
		}
		&.active {
			color: $violet2;
			span {
				&:before {
					content: "";
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					height: 2px;
					background-color: $violet2;
				}
			}
		}
		&:last-child {
			margin: 0px;
		}
		&:hover {
			color: $violet2;
		}
	}
}
