
.pt-57			{ padding-top: 57px; }
.pt-80			{ padding-top: 80px; }

.pb-50			{ padding-bottom: 50px; }

.mt-50			{ margin-top: 50px; }

.mr-20			{ margin-right: 20px; }

.mb-10			{ margin-bottom: 10px; }
.mb-18			{ margin-bottom: 18px; }
.mb-25			{ margin-bottom: 25px; }
.mb-32			{ margin-bottom: 32px; }
.mb-35			{ margin-bottom: 35px; }
.mb-150			{ margin-bottom: 150px; }

.ml-20			{ margin-left: 20px; }
