@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?qswghs');
  src:  url('../fonts/icomoon.eot?qswghs#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?qswghs') format('truetype'),
    url('../fonts/icomoon.woff?qswghs') format('woff'),
    url('../fonts/icomoon.svg?qswghs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bin:before {
  content: "\e90a";
}
.icon-buy:before {
  content: "\e900";
  color: #000;
}
.icon-fresh:before {
  content: "\e901";
  color: #000;
}
.icon-heart:before {
  content: "\e902";
}
.icon-phone:before {
  content: "\e903";
  color: #000;
}
.icon-pig:before {
  content: "\e904";
  color: #000;
}
.icon-play:before {
  content: "\e905";
  color: #000;
}
.icon-products:before {
  content: "\e906";
  color: #000;
}
.icon-search:before {
  content: "\e907";
  color: #000;
}
.icon-shopping-cart:before {
  content: "\e908";
  color: #000;
}
.icon-timer:before {
  content: "\e909";
  color: #000;
}
.icon-cross:before {
  content: "\ea0f";
  color: #000;
}
